.cards{

}

.cards__list{
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, 413px);
}

.card__content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}