
.footer{
    margin-top: 40px;
}

.footer__section-divider{
    border-top: 1px solid rgba(33, 33, 33, 0.4);
}

.footer__copyright{
    
    margin: 60px auto 60px;
    text-align: center;
    opacity: 70%;
    font-weight: 400px;
    font-size: 16px;
    line-height: 16px;
} 