.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 16px;
  visibility: hidden;
}

.modal__opened {
  visibility: visible;
}

.modal__container {
  background-color: #ffffff;
  position: relative;
  padding: 32px 50px;
  width: 100%;
  max-width: 730px;
  box-sizing: border-box;
  border-radius: 8px;
}

.modal__close-btn {
  position: absolute;
  top: 36.49px;
  right: 53.51px;
  opacity: 40%;
  background: transparent url(../images/close_icon.svg) no-repeat;
  width: 40px;
  height: 40px;
  border: none;
  cursor: pointer;
}

.modal__title {
  font-size: 32px;
  line-height: 32px;
  font-weight: 500;
  margin: 0 0 32px;
}

.modal__label {
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  color: #212121;
  opacity: 70%;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 32px;
}

.modal__input {
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  color: #212121;
  opacity: 100%;
  padding: 16px 12px;
  cursor: pointer;
}

.modal__input::placeholder{
  font-size: 20px;
  line-height: 20px;
  opacity: 30%;
}

.modal__submit-btn {
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  color: #fcf5e5;
  background-color: #212121;
  width: 156px;
  height: 52px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

@media screen and (max-width: 665px) {
  .modal {
    padding: 0 10px;
  }

  .modal__close-btn{
    top: 12px;
    right: 12px;
  }

  .modal__title {
    margin: 22px 0 34px;
    font-size: 20px;
    line-height: 20px;
  }

  .modal__label {
    font-size: 16px;
    line-height: 16px;
  }

  .modal__input {
    font-size: 16px;
    line-height: 16px;
  }

  .modal__submit-btn {
    font-size: 16px;
    line-height: 16px;
  }
}

@media screen and (max-width: 320px) {
  .modal{
    min-width: 320px;
  }
}
