.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 16px;
  visibility: hidden;
}

.modal_opened {
  visibility: visible;
}

.modal__container {
  background-color: #ffffff;
  position: relative;
  padding: 32px 50px;
  width: 100%;
  max-width: 730px;
  box-sizing: border-box;
  border-radius: 8px;
}

.modal__title {
  font-size: 32px;
  line-height: 32px;
  font-weight: 500;
  margin: 0 0 32px;
}

.modal__label {
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  color: rgba(21, 21, 21, 0.7);
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 32px;
}

.modal__input {
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  color: rgba(21, 21, 21, 1);
  padding: 16px 12px;
  cursor: pointer;
  border: 1px solid rgba(21, 21, 21, 0.4);
  border-radius: 8px;
  border-style: solid;
  transition: border-color 0.5s linear;
}

.modal__input:hover{
  border-color: rgba(21, 21, 21, 1);
  
}

.modal__input:focus {
  outline: none;
  cursor: text;
}

.modal__input::placeholder {
  font-size: 20px;
  line-height: 20px;
  opacity: 30%;
}

.modal__submit-btn {
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  color: #fcf5e5;
  background-color: #212121;
  width: 156px;
  height: 52px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.5s linear;
}

.modal__submit-btn:hover {
  background-color: rgba(21, 21, 21, 0.8);
}

.modal__close-btn {
  position: absolute;
  top: 36.49px;
  right: 53.51px;
  opacity: 40%;
  background: transparent url(../images/close_icon.svg) no-repeat;
  width: 40px;
  height: 40px;
  border: none;
  cursor: pointer;
  transition: opacity 0.5s linear;
}

.modal__close-btn:hover {
  opacity: 100%;
}

@media screen and (max-width: 665px) {
  .modal {
    padding: 0 10px;
  }

  .modal__container {
    padding: 12px;
  }

  .modal__close-btn {
    top: 12px;
    right: 12px;
  }

  .modal__title {
    margin: 10px 0 24px;
    font-size: 20px;
    line-height: 20px;
  }

  .modal__label {
    font-size: 16px;
    line-height: 16px;
  }

  .modal__input {
    font-size: 16px;
    line-height: 16px;
    font-weight: 500;
  }

  .modal__input::placeholder {
    font-size: 16px;
    line-height: 16px;
    opacity: 30%;
  }

  .modal__submit-btn {
    width: 100%;
    font-size: 16px;
    line-height: 16px;
  }
}


@media screen and (max-width: 320px) {
  .modal {
    min-width: 300px;
  }
}
