.profile {
  display: flex;
  padding: 34px 0 20px;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
}

.profile__avatar {
  width: 190px;
  height: 190px;
  margin-right: 20px;
  border-radius: 8px;
  object-fit: cover;
}

.profile__column {
  color: #212121;
  display: flex;
  flex-direction: column;
  line-height: 1;
}

.profile__name {
  font-weight: 500;
  margin: 0 0 12px;
  font-size: 32px;
  max-width: 420px;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.profile__description {
  margin: 0;
  opacity: 0.7;
  font-size: 16px;
  font-weight: 500;
  max-width: 420px;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.profile__edit-btn {
  color: #212121;
  font-weight: 500;
  display: flex;
  align-items: flex-end;
  line-height: 0.8;
  opacity: 0.7;
  margin-top: auto;
  padding: 0;
  background-color: transparent;
  font-size: 16px;
  border: none;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
}

.profile__edit-btn-icon {
  margin-right: 8px;
}

.profile__edit-btn:hover {
  opacity: 1;
}

.profile__new-post-btn {
  color: #fcf5e5;
  font-size: 16px;
  line-height: 1;
  font-weight: 500;
  width: 157px;
  height: 52px;
  margin-left: auto;
  background-color: #212121;
  border: none;
  border-radius: 8px;
  align-self: flex-end;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
}

.profile__new-post-btn:hover {
  opacity: 0.8;
}

.profile__new-post-img {
  width: 12px;
  height: 12px;
  margin-right: 8px;
}

@media screen and (max-width: 627px) {
  .profile {
    padding-top: 20px;
    max-width: 288px;
    width: 100%;
    flex-direction: column;
    text-align: center;
    text-align: center;
  }

  .profile__avatar {
    margin: 0 auto 12px;
    width: 80px;
    height: 80px;
  }

  .profile__name {
    font-size: 20px;
    margin: 0 0 6px;
  }

  .profile__description {
    margin: 0 0 32px;
  }

  .profile__edit-btn {
    margin: 0 auto;
  }

  .profile__column {
    margin: 0 0 20px;
  }

  .profile__new-post-btn {
    width: 100%;
    margin: 0 auto;
  }
}
