.profile {
  display: flex;
  padding-top: 34px;
  padding-bottom: 20px;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

.profile__avatar {
  margin-right: 20px;
  min-width: 190px;
  height: 190px;
  object-position: 0 1px;
  object-fit: cover;
  border-radius: 8px;
}

.profile__column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-weight: 500;
  color: #212121;
}

.profile__name {
  font-weight: 500;
  font-size: 32px;
  line-height: 32px;
  margin: 0;
  max-width: 420px;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.profile__description {
  font-weight: 500;
  margin: 12px 0 0 0;
  max-width: 420px;
  opacity: 70%;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.profile__edit-btn {
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  max-width: 120px;
  padding: 0;
  margin-top: auto;
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  cursor: pointer;
  opacity: 70%;
  transition: opacity 0.5s linear;
  gap: 8px;
}

.profile__edit-btn::before {
  content: "";
  width: 16px;
  height: 16px;
  background-image: url("../images/edit_button.svg");
}

.profile__edit-btn:hover {
  opacity: 100%;
}

.profile__add-btn {
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  min-width: 149px;
  height: 52px;
  margin-left: auto;
  padding: 0;
  background-color: rgba(33, 33, 33, 1);
  color: #fcf5e5;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-end;
  gap: 8px;
  transition: background-color 0.5s linear;
}

.profile__add-btn::before {
  content: "";
  width: 14px;
  height: 14px;
  background-image: url("../images/add_button.svg");
}

.profile__add-btn:hover {
  background-color: rgba(33, 33, 33, 0.8);
}

@media screen and (max-width: 665px) {
  .profile {
    flex-direction: column;
    align-items: center;
  }

  .profile__avatar {
    margin: 0;
    min-width: 80px;
    height: 80px;
  }

  .profile__column {
    margin-top: 12px;
    align-items: center;
    text-align: center;

  }

  .profile__name {
    max-width: 288px;
    font-size: 20px;
    line-height: 20px;
  }

  .profile__description {
    max-width: 288px;
 
  }

  .profile__edit-btn {
    margin-top: 32px;
  }

  .profile__add-btn {
    margin-top: 20px;
    width: 100%
  }
}
