@import url(../vendor/fonts.css);

.page{
    margin: 0 auto;
    max-width: 1440px;
    width: 100%;
    background-color: #fcf5e5;
    font-family: 'Poppins';

}

.page__section{
    max-width: 1280px;
    padding-right: 16px;
    padding-left: 16px;

}

.page__section-divider{
    border-bottom: 1px solid #212121;
    opacity: 40%;
    margin-top: 20px;
    margin-right: 16px;
    margin-left: 16px;
}

.header{
    background: white url("../images/spots_logo.svg") center no-repeat;
    height: 46px;
    
}

.profile{
    height: 210px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 14px !important;
}

.profile__info{
    width: 505px;
    height: 190px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: flex-start;
    flex-wrap: wrap;
    column-gap: 20px;
}

.profile__image{
    width: 190px;
    height: 190px;
    border-radius: 5%;

}

.profile__title{
    margin: 0;
    font-family: 'Poppins-Medium';
    font-weight: 500;
    font-size: 32px;
    line-height: 32px;
    color: #212121;
}

.profile__subtitle{
    margin: 12px 0 0;
    font-family: 'Poppins-Medium';
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    color: #212121;
    opacity: 70%;
}

.profile__edit-button{
    padding: 0;
    width: 120px;
    border: none;
    cursor: pointer;
    opacity: 70%;
    background: transparent url("../images/edit_button.svg") left no-repeat;
    transition: opacity 0.3s linear;
}

.edit-button-text{
    margin: 0;
    font-family: 'Poppins-Medium';
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    color: #212121;
    margin-left: 8px;
}

.profile__add-button{
    padding: 0;
    min-width: 149px;
    width: 149px;
    height: 52px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background-color: #212121;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s linear;
}

.add-button-icon{
    width: 15px;
    height: 15px;
    background: transparent url("../images/add_button.svg") left no-repeat;
    margin-right: 8px;
}

.add-button-text{
    margin: 0;
    font-weight: 500;
    font-size: 16px;
    color: white;
    display: inline;
}

.profile__edit-button:hover{
    opacity: 100%;
}

.profile__add-button:hover{
    opacity: 80%;
}

